@import "tailwindcss";
@config "../../tailwind.config.ts";

:root {
  --background: #F4F6F9;
  --foreground: #1A1D1F;
  --primary: #3498DB;
  --primary-dark: #176FB2;
  --secondary: #2C3E50;
  --accent: #F39C12;
  --detail: #D5D8DC;
  --online: #22C55E;
  --input-label: #FAFBFC;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: sans-serif;
}

main,
section {
  padding: 0 5rem;

  @media (max-width: 1200px) {
    padding: 0 4rem;
  }

  @media (max-width: 1024px) {
    padding-: 0 2rem;
  }

  @media (max-width: 768px) {
    padding: 0 2rem;
  }

  @media (max-width: 320px) {
    padding: 0 1rem;
  }
}
